div {
    align-items: flex-start;
    backdrop-filter: blur(0.25rem);
    background: #0b0c0e55;/*var(--grey-000);*/
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: var(--transition-speed);
    width: 100%;
}

.declension {
    align-items: center;
    background: linear-gradient(var(--grey-700), var(--grey-600));
    border: 1px solid var(--grey-700);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 13.25rem;
    padding: 0.125rem 0;
    transform: scale(1.5);
    transition: var(--transition-speed);
}

.declension > * {
    margin: 0.125rem 0.25rem;
    padding: 0.25rem 0.5rem;
}

.declension-case {
    color: var(--grey-500);
    text-align: right;
    text-shadow: 1px 1px 0 var(--grey-800);
}

.declension-inflection {
    background: linear-gradient(#00000022, #ffffff22);
    border: 1px solid var(--grey-500);
    border-bottom-color: var(--grey-800);
    border-left-color: var(--grey-600);
    border-right-color: var(--grey-700);
    border-radius: 0.25rem;
    color: var(--grey-300);
}

.declension-span-2 {
    font-weight: 600;
    grid-column: 1/-1;
    text-align: center;
}

.visible {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}