header {
    background: linear-gradient(var(--grey-300), var(--grey-500));
    border-bottom: 1px solid var(--grey-600);
    box-shadow: var(--box-shadow);
    color: var(--grey-800);
    margin-bottom: 2rem;
    padding: 0.5rem;
}

header > * {
    filter: drop-shadow(1px 1px 0 var(--grey-000))
}

div {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

h1 {
    font-size: clamp(3rem, 10vw, 4rem);
    font-weight: 200;
}

p {
    color: var(--grey-700);
    font-size: 1.25rem;
    margin-top: -0.5rem;
    text-align: center;
}